// Home page styles
#home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bg-color-1);

  h1 {
    margin: 0;
    text-align: center;
    color: white;
    background: blue;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
  }

  .extra-help {
    background: blue;

  }

  .game-joiner {
    background: blue;
    display:flex;
    flex-direction: column;
    padding: 10px;
  }

  .game-maker {
    background: blue;
    display:flex;
    flex-direction: center;
    align-items: center;
  }
}
// 
// flex-direction: column; 
// align-items: center;