#lobby-page {
  background: #4C86A8;
  color: white;
}

.box{
  height: 50px;
  width: 50px;
  background-color: white;
  display: inline-block
  
}

h2{
  display: flex;

}

h1{
  display: flex;
}

h3{
  text-align: right;
  padding-right: 5rem;
  font-size: 30px;
  
}

h4{
  text-align: right;

}
